<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add new contact</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control input-name" placeholder="Name" value="<%= name %>"/>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control input-phone" placeholder="Phone" value="<%= phone %>"/>
                </div>
                <div class="form-group">
                    <label>Group</label>
                    <select class="form-control input-group" title="<%= group.description %>">
                        <option></option>
                        <option value="1">Name1</option>
                        <option value="2">Name2</option>
                        <option value="3">Name3</option>
                        <option value="4">Name4</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button id="create-button" type="button" class="btn btn-primary">Create
                </button>
            </div>
        </div>
    </div>
</div>