<div class="col-xs-12">
    <div aria-label="Page navigation">
        <ul class="pager">
            <li><a href="#" id="firstPage">First</a></li>
            <li><a href="#" id="previousPage">Previous</a></li>
            <li><a href="#" id="nextPage">Next</a></li>
            <li><a href="#" id="lastPage">Last</a></li>
        </ul>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <button id="show-dialog-create" type="button" class="btn btn-success pull-right">Add
                new contact
            </button>
        </div>
    </div>
</div>
